@font-face {
    font-family: montserrat;
    src: url(montserrat-kopi/Montserrat-Light.otf);
}
body {
    margin: 0 auto 0;
    font-family: montserrat;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(241, 241, 241);
    text-transform: uppercase;
   
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
nav a {
    color: rgb(115, 115, 115);
    margin-left: 20px;
    font-size: 15px;
    padding: 0;
    background-color: white
}
.logo {
    color: black;
    text-transform: none;
    font-size: 40px;
    font-weight: bold;
    margin-left: 0;
}

header {
    margin-inline: 5%;
    margin-top: 20px;
}

h3, h4, h5 {
    margin: 1px;
    text-transform: uppercase;
}

h1 {
    margin-left: 5%;
    margin-top: 50px;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 17px;
}
h3 {
    margin-bottom: 10px;
    font-size: 15px;
}
p {
    margin: 10px;
    margin-left: 0px;
}
img {
    max-width: 100%;
}

/* Frontpage */
#frontpage {
    text-align: center;
    padding-top: 15%;
    background-image: url(bg-kopi.png);
    background-size: cover;
    height: 100vh;
    width: 100%;

}

#frontpage h1 {
    text-transform: uppercase;
    margin-left: 0;
}

#frontpage a{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
#frontpage ul {
    margin-top: 40px;
    padding-left: 0;
}
/*  */


/* categories */

#categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 5%;
}
@media (min-width: 800px) {
#categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding: 5%;
} 
}

#categories a {
    padding: 40px;
    text-align: center;
    border-radius: 5px;
}

/*  */


/* productlist  */
#productlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4em;
    padding: 5%;
}

@media (min-width: 900px) {
    #productlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em;
    padding: 5%;
}
}

@media (min-width: 1200px) {
    #productlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4em;
    padding-inline: 5%;
}
}

.product-text {
    display: flex;

}
.product-text h3{
    font-size: 15px;
    color: rgb(115, 115, 115);
}

.product-bag-soldout-discount p, .product-bottle-discount p{
color: red;
}

.discount p {
    color: black;
    font-size: 13px;
}
.buy-link {
    margin-top: 20px;
}

.overlay_soldout {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay h2 {
    font-size: 30px;
}

.overlay_discount {
    position: relative;
}
.discount-procent {
    position: absolute;
    left: 0;
    top: 5%;
    width: 35%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.discount-procent h2{
    margin: 5px;
    padding: 5px;
}
/*  */

/* Product */
@media (min-width: 800px) {
#product {
display: grid;
grid-template-columns: 1.5fr 1fr;
gap: 2em;
padding: 5%;
}  

#product h2 {
    font-size: 40px;
    margin-top: 0;
}

#product p {
    font-size: 25px;
    margin-top: 40px;
}

aside {
    /* background-color:  rgb(241, 241, 241); */
    max-width: 100%;
    padding: 5%;
}
}

#product {
padding: 5%;
}   

#product h3 {
    font-size: 20px;
    margin-top: 10px;
    color: rgb(115, 115, 115);
}

#product h2 {
    font-size: 30px;
    margin-top: 20px;
}



#product p {
    font-size: 20px;
    margin-top: 40px;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 5%;
    padding-left: 0;
}

.breadcrumbs a {
    font-size: 10px;
    background-color: white;

 }
.breadcrumbs p {
    font-size: 12px;
 }
 .breadcrumbs a::after {
    content: ">";
    padding-left: 20px;
 }

 

 form {
    margin-top: 180px;
 }
 label {
    display: flex;
    font-family: "montserrat";
    font-size: 20px;
 }
 button {
    display: block;
margin-top: 20px;
width: 100%;
height: 50px;
border-radius: 5px;
background-color: black ;
color: white;
font-family: "montserrat";
text-transform: uppercase;
font-size: 15px;
border: 0;
}

select {
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
    margin-left: 10px;
}
